footer {
    width:100vw;
    min-height:20vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:#3d3939;
    color:#beb9b5;
    padding:0 20vw 0 20vw 0;
}

footer #about-data {
    margin-left:20vw;
}

footer #contact-data {
    margin-right:20vw;
}

footer p {
    margin:0 0 5px 0;
}

footer #contact-data a {
    height:30px;
    min-width:70%;
    display:flex;
    justify-content:left;
    align-items:center;
    background-color:#3d3939;
    border:none;
    border-radius:4px;
    padding:4px;
    margin:0 0 5px 0;
    text-decoration:none;
}

footer #contact-data a:hover {
    cursor: pointer;
    color:#3d3939;
    background-color:#beb9b5;
}

footer #contact-data a img {
    height:25px;
    width:25px;
    margin:0;
    padding-right:10px;
}

footer a {
    color:#beb9b5;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    color:#3d3939;
    text-decoration: none;
}

link {
    text-decoration: none;
}

@media only screen and (max-width: 850px){
    footer #about-data {
	margin-left:10vw;
    }

    footer #contact-data {
	margin-right:10vw;
    }
}

@media only screen and (max-width: 700px){
    footer {
	flex-flow:column;
	align-items:flex-start;
    }

    footer #about-data {
	margin-left:10vw;
    }

    footer #contact-data {
	margin-left:10vw;
	margin-right:0;
    }
}
