nav {
    position:fixed;
    display:flex;
    height:60px;
    width:100%;
    justify-content:space-between;
    align-items:center;
    background-color: var(--nav-bg-color);
    box-shadow: 0 5px 5px -5px grey;
}

nav h3 {
    margin-left: 8vw;
    padding-right:10px
}

nav input, label {
    display:none;
}

nav #links {
    display:flex;
    margin-right: 8vw;
}

nav #links *{
    color: var(--nav-fg-color);
    padding-left: 1.5em;
}

@media only screen and (max-width: 700px){
    nav {
	position: fixed;
	height: 60px;
	flex-flow: column;
	justify-content: center;
    }

    nav label {
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	height: 100%;
	width: auto;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	cursor: pointer;
	margin-right: 10vw; 
    }

    nav header {
	margin-left: 10vw;
	padding-right: 10px
    }

    nav #links {
	width:100vw;
	position:absolute;
	top: 100%;
	display:none;
	flex-flow:column;
	align-items:center;
	margin: auto;
	text-align:center;
	background-color: var(--nav-bg-color);
	box-shadow: 0 3px 6px -6px grey;
    }

    nav #links a:first-child {
	border-top: none;
    }

    nav #links a {
	border-top: 0.1rem solid grey;
    }

    .nav-link {
	width:50%;
	padding: 20px 0;
    }
}

nav #links a:hover {
    color: var(--link-hover-color);
}
